*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
  height: 100vh;
  width: 100vw;
  /* background-image: url("https://img.freepik.com/premium-photo/abstract-legal-juridical-background-with-space-copy_879736-2118.jpg?w=740"); */
  background-size: 100% 100%;
  background-color:#daece7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
textarea
{
  width: 800px;
  height: 350px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: #0e0d0d;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 20px;
  resize: none;
  
}
h1
{
  color: #fff;
}
button
{
  background:#e5ecea;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #151313;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  margin-left: 10px;
}
input
{
  width: 500px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #121111;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background:transparent;
}